.meals {
    max-width: 60rem;
    width: 90%;
    margin: 2rem auto;
    animation: meals-appear 1s ease-out forwards;
  }
  
  .MealsLoading{
    animation: meals-appear 0.5s ease-in;
    width: 90%;
    margin: 2rem auto;
    max-width: 60rem;
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    font-size: larger;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  }

  .MealsError{
    animation: meals-appear 0.5s ease-in;
    width: 90%;
    margin: 2rem auto;
    max-width: 60rem;
    text-align: center;
    color: rgb(163, 0, 0);
    font-weight: normal;
    font-size: medium;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  }
  
  .meals ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  @keyframes meals-appear {
    from {
      opacity: 0;
      transform: translateY(3rem);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  